.volunteer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60vh;
}

.volunteer-form {
  padding: 20px;
  border-radius: 10px;
  max-width: 600px;
  width: 100%; /* Ensure responsiveness */
}

.volunteer-form .form-group {
  margin-bottom: 15px;
}

.volunteer-form label {
  font-size: 1.1rem;
  color: #333;
}

.volunteer-form input, .volunteer-form select {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-size: 1rem;
  background-color: white;
}

.volunteer-btn {
  background-color: #E0A4A1;
  color: #fff;
  padding: 12px 24px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-size: 1.3rem;
  margin-top: 15px;
}

.volunteer-btn:hover {
  background-color: #d08780;
}